@font-face {
    font-family: 'syht';
    src: url('SourceHanSansSC-Regular.otf'); //引入字体
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'syhtMedium'; 
    src: url('SourceHanSansSC-Medium.otf'); //引入字体
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'syhtLight'; 
    src: url('SourceHanSansSC-Light.otf'); //引入字体
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'syhtNoraml'; 
    src: url('SourceHanSansSC-Normal.otf'); //引入字体
    font-weight: normal;
    font-style: normal;
}